.cards{
  display: flex;
  margin: auto;
  width: 450px;
  height: 280px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 4px 0 #888 , 5px 6px 0 #333;
  overflow: hidden;
}

.img{
  width:40%;
}

.content{
  width: 50%;
  padding: 10px;
}

.image{
  width: 100%;
  height:100%;
}


.child{
  margin: 20px 0;
}

@media screen and (max-width: 580px){
  .cards{
    flex-direction: column;
    width: 230px;
    height: 420px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 4px 0 #888 , 5px 6px 0 #333;
    overflow: hidden;
  }

  .img{
    width: 100%;
    height: 50%;
  }
  
  .content{
    width: 100%;
    padding: 5px;
  }
  
  .image{
    width: 100%;
  }
}

@media screen and (max-width: 580px){
  .cards{
    flex-direction: column;
    width: 200px;
    height: 420px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 4px 0 #888 , 5px 6px 0 #333;
    overflow: hidden;
  }
}

